$dark-gray: #212529;
$gray: #575757;
$white: #dad7d2;
$black: #181a1b;
$transparent-black: rgba(0, 0, 0, .6);
$red: #b40000;
$blue: #0000b4;
$dark-red: #540000;
$dark-blue: #000054;
$cyan: #1281bf;
$bright-red: #d70000;
$bright-green: #00d700;
