@import '~bootstrap/scss/bootstrap';
@import './themes';

body {
  background-color: $background-color;
}

h1 {
  color: $text-light;
  margin: 0 auto;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
}

div,
p {
  color: $text-light;
}

input {
  background-color: $background-dark;
  border-color: $border-medium;
  color: $text-light;
}

button {
  background-color: $background-dark;
  color: $text-light;
}

.header-desktop {
  align-items: center;
  display: none;
  height: 5rem;
  justify-content: center;
}

.login-desktop {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-right: .5rem;
  position: absolute;
  right: 0;
  width: 30%;
}

.user-desktop {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-right: .5rem;
  position: absolute;
  right: 0;
  width: 30%;
}

.form-line {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;


  > input {
    margin-bottom: .2rem;
    margin-right: 1%;
    width: 38%;
  }


  > .button {
    margin-right: 0;
    width: 22%;
  }
}

.form-stack {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;


  > input {
    margin-top: .5rem;
    width: 90%;
  }


  > .button {
    margin-top: 1rem;
    width: 50%;
  }
}

.dropdown-menu {
  background-color: $background-dark;
  border-color: $border-medium;
  width: 20rem;
}

.login-mobile {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.login-message {
  color: $text-success;
  display: none;
  margin: auto;
}

.game-board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10vw 0 0;
  max-width: 900px;
  position: relative;
}

.game-header {
  align-content: center;
  display: flex;
  justify-content: space-between;
  max-width: 720px;
  position: absolute;
  top: -8vw;
  width: 80%;
}

.game-turn {
  border-radius: 5px;
  font-size: 7vw;
  height: 100%;
  line-height: 7vw;
  text-align: center;
  width: 50%;
}

.game-square {
  background-color: $game-tile;
  font-size: 25vw;
  height: 25vw;
  line-height: 25vw;
  margin: 1%;
  text-align: center;
  user-select: none;
  width: 25vw;
}

.game-overlay {
  align-items: center;
  background-color: $overlay-dark;
  border-radius: 5px;
  display: flex;
  height: 80vw;
  justify-content: center;
  position: absolute;
  top: .5vw;
  width: 80vw;
}

.game-login {
  background-color: $background-dark;
  border-radius: 5px;
  font-size: 5vw;
  padding: 5px 10px;
}

.game-select {
  align-items: center;
  border-color: $border-medium;
  display: flex;
  justify-content: center;


  > button {
    font-size: 5vw;
    margin: 0 1vw;
  }
}

.game-message {
  background-color: $overlay-dark;
  border-radius: 5px;
  display: none;
  font-size: 5vw;
  line-height: 5vw;
  padding: 5px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  top: 36.5vw;
}

.multiplayer-message {
  color: $text-error;
}

.game-strike {
  background-color: $border-medium;
  height: 95%;
  position: absolute;
  top: 2.5%;
  width: 2%;
}

.strike-0 {
  top: -31%;
  transform: rotate(90deg);
}

.strike-1 {
  top: 3%;
  transform: rotate(90deg);
}

.strike-2 {
  top: 36%;
  transform: rotate(90deg);
}

.strike-3 {
  left: 22%;
}

.strike-5 {
  left: 76%;
}

.strike-6 {
  height: 128%;
  top: -14%;
  transform: rotate(-45deg);
}

.strike-7 {
  height: 128%;
  top: -14%;
  transform: rotate(45deg);
}

.failed {
  color: $text-error;
}

.game-x {
  background-color: $x-color-dark;
}

.game-o {
  background-color: $o-color-dark;
}

.x-turn {
  background-color: $x-color;
}

.o-turn {
  background-color: $o-color;
}

.disable {
  display: none;
}

@media(min-width: 410px) {
  .login-mobile {
    > form {
      width: 50%;


      > input {
        width: 90%;
      }


      > .button {
        width: 50%;
      }
    }
  }
}

@media(min-width: 824px) {
  .header-desktop {
    display: flex;
  }

  .header-mobile {
    display: none;
  }
}

@media(min-width: 900px) {
  .game-board {
    margin: 90px 0 0;
  }

  .game-header {
    top: -72px;
  }

  .game-turn {
    font-size: 63px;
    line-height: 63px;
  }

  .game-square {
    font-size: 225px;
    height: 225px;
    line-height: 225px;
    width: 225px;
  }

  .game-message {
    font-size: 45px;
    line-height: 45px;
    top: 20.5rem;
  }

  .game-overlay {
    height: 720px;
    top: .3rem;
    width: 720px;
  }

  .game-login {
    font-size: 45px;
  }

  .game-select {
    > button {
      font-size: 45px;
      margin: 0 9px;
    }
  }
}
