@import './colors';

$background-color: $dark-gray;
$border-medium: $gray;
$text-light: $white;
$background-dark: $black;
$overlay-dark: $transparent-black;
$x-color: $red;
$o-color: $blue;
$x-color-dark: $dark-red;
$o-color-dark: $dark-blue;
$game-tile: $cyan;
$text-error: $bright-red;
$text-success: $bright-green;
